**.orig
*.rbc
*.sassc
.rspec
.sass-cache/
bin/
.bundle/
coverage/
db/*.sqlite3
log/
public/system/
spec/tmp/
tmp/
vendor/bundle/
capybara-*.html
pickle-email-*.html
rerun.txt
pickle-email-*.html
.env.local
tags
